<div class="material-div">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Button</mat-panel-title>
        <mat-panel-description>Multi-Styles Button</mat-panel-description>
      </mat-expansion-panel-header>
      <section><button class="example-margin" mat-button>Button</button> </section>
      <section><button class="example-margin" mat-icon-button>icon Button</button> </section>
      <section><button class="example-margin" mat-raised-button>Raise Button</button> </section>
      <section><button class="example-margin" mat-stroked-button>Stroke Button</button> </section>
      <section>
        <mat-radio-group>
          <mat-radio-button class="example-margin" value="CS">Computer Science</mat-radio-button>
          <mat-radio-button class="example-margin" value="Accounting">Accounting</mat-radio-button>
          <mat-radio-button class="example-margin" value="Biology">Biology</mat-radio-button>
        </mat-radio-group>
      </section>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Input Material</mat-panel-title>
        <mat-panel-description>Click me to look over!</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>
      <mat-input-container>
        <input matInput placeholder="Last name">
      </mat-input-container>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Checkbox</mat-panel-title>
        <mat-panel-description>Click me to look over!</mat-panel-description>
      </mat-expansion-panel-header>
      <section>
        <mat-checkbox class="example-margin">
          <mat-label>Soccer</mat-label>
        </mat-checkbox>
      </section>
      <section>
        <mat-checkbox class="example-margin">Football</mat-checkbox>
      </section>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Select</mat-panel-title>
        <mat-panel-description>Click me to look over!</mat-panel-description>
      </mat-expansion-panel-header>
      <section>
        <mat-form-field>
          <mat-select label="Temp" placeholder="Select You School" name="school">
            <mat-option [value]="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-optgroup label="Eng">
              <mat-option value="who">Who</mat-option>
              <mat-option value="what">What</mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Slide</mat-panel-title>
        <mat-panel-description>Slide Demo</mat-panel-description>
      </mat-expansion-panel-header>
      <section>
        <mat-slider class="example-margin" thumbLabel tickInterval="auto"></mat-slider>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Slide Toggle</mat-panel-title>
        <mat-panel-description>Slide Toggle Demo</mat-panel-description>
      </mat-expansion-panel-header>
      <section>
        <mat-checkbox class="example-margin">On</mat-checkbox>
        <mat-checkbox class="example-margin">Off</mat-checkbox>
        <mat-slide-toggle class="example-margin" aria-label="Slide me!">
          Slide
        </mat-slide-toggle>
      </section>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Progress Spinner</mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <section>
        <mat-spinner class="example-margin"></mat-spinner>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
