<div [hidden]="submitted">
  <h1>Sign Up</h1>
  <form #signupForm="ngForm" (ngSubmit)="signUp()">
    <section>
      <mat-form-field>
        <section><input type="email" name="Email" [(ngModel)]="Email" class="example-margin" matInput placeholder="Email" required></section>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field>
        <section><input name="PWD" [(ngModel)]="PWD" class="example-margin" matInput type="password" placeholder="Password" required></section>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <mat-select placeholder="Country" required name="country" [(ngModel)]="country" (selectionChange)="filterRegion(country)">
          <mat-option *ngFor="let c of countryList" [value]="c.countryId">{{c.countryName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>


    <section>
      <mat-form-field>
        <mat-select placeholder="Region" required name="region" [(ngModel)]="region" (selectionChange)="filterSchool(country, region)">
          <mat-option *ngFor="let r of regionFilterList" [value]="r.regionId">{{r.regionName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>


    <section>
      <mat-form-field>
        <mat-select placeholder="School" required>
          <mat-option *ngFor="let sch of schoolFilterList" [value]="sch.schoolid">{{sch.abbreviation}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>



    <!--
    <section>
      <mat-form-field>
        <mat-select placeholder="Region" required>
          <mat-option *ngFor="let school of schoolList" [value]="school.region" (onSelectionChange)="filter">{{school.region}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field>
        <mat-select placeholder="School" required>
          <mat-option *ngFor="let school of schoolList" [value]="school.schoolid">{{school.abbreviation}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    -->
    <section>
      <button type="button" class="example-margin" (click)="signUp()" mat-raised-button [disabled]="!signupForm.form.valid">Sign Up</button>
      <button class="example-margin" mat-raised-button type="reset">Reset</button>
    </section>
  </form>
</div>
<div style="margin-top: 20px;">
  <button class="example-margin" mat-raised-button="" (click)="submitted = false">Show Form</button>
</div>
