<div [hidden]="submitted">
  <h1>Sign Up</h1>
  <form #signupForm="ngForm" (ngSubmit)="signUp()">
    <section>
      <mat-form-field>
        <section><input name="email" type="email" [(ngModel)]="email" class="example-margin" matInput placeholder="Email?" required></section>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field>
        <section><input name="password" [(ngModel)]="password" class="example-margin" matInput type="password" placeholder="Password" required></section>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <mat-select name="countryId" placeholder="Country Of School?" required [(ngModel)]="countryId" (selectionChange)="filterRegion(countryId)">
          <mat-option *ngFor="let c of countryList" [value]="c.countryId">{{c.countryName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>


    <section>
      <mat-form-field>
        <mat-select name="regionId" placeholder="Region Of School?" required [(ngModel)]="regionId" (selectionChange)="filterSchool(countryId, regionId)">
          <mat-option *ngFor="let r of regionFilterList" [value]="r.regionId">{{r.regionName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>


    <section>
      <mat-form-field>
        <mat-select name="schoolId" placeholder="School" required [(ngModel)]="schoolId">
          <mat-option *ngFor="let sch of schoolFilterList" [value]="sch.schoolid">{{sch.abbreviation}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <section><input name="studentNo" [(ngModel)]="studentNo" class="example-margin" matInput placeholder="Your student number?" required></section>
      </mat-form-field>
    </section>

    <section>
      <button type="button" class="example-margin" mat-raised-button [disabled]="!signupForm.form.valid" i18n="@@signup.btn">Sign Up</button>
      <button class="example-margin" mat-raised-button type="reset">Reset</button>
    </section>
  </form>
</div>
<div style="margin-top: 20px;">
  <button class="example-margin" mat-raised-button="" (click)="submitted = false">Show Form</button>
</div>
